.about-us-section {
    padding: 3rem 30px; 
    background-color: #ffffff; 
  }
  
  .about-us-container {
    height: 227px; 
    display: flex; 
    align-items: center; 
    gap: 1.5rem; 
    overflow: hidden; 
  }
  
  .about-us-text {
    flex:auto; 
    display: flex;
    flex-direction: column;
    justify-content: center; 
    text-align: left;
  }
  
  .about-us-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .about-us-description {
    font-size: 20px;
    color: #555;
    line-height: 1.4; 
  }
  
  .about-us-image-container {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .about-us-image {
    max-height: 204px; 
    max-width: 204px; 
    object-fit: cover; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  
  @media (max-width: 768px) {
    .about-us-container {
      flex-direction: column; 
      height: auto; 
      text-align: center; 
    }
  
    .about-us-image-container {
      margin-top: 1rem; 
    }
  }
  