/* Auth Page Container */
.auth-page {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../../assets/images/TrackSkill.png') no-repeat center center fixed;
    background-size: cover;
}

/* Auth Container */
.auth-container {
    background-color: rgba(217, 217, 217, 0.5);
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    width: 600px;
    height: 700px;
    text-align: center;
}

/* Logo */
.auth-logo {
    width: 90px;
    height: 90px;
    border-radius: 20px;
    margin-bottom: 1rem;
}

/* Headings */
.auth-container h1 {
    font-size: 35px;
    color: white;
    margin: 0.5rem 0;
}

.auth-container p {
    font-size: 20px;
    font-weight: normal;
    color: white;
    margin-bottom: 4rem;
}

/* Input Fields */
.auth-input-field {
    border-radius: 10px;
    width: 438px;
    height: 50px;
    align-items: center;
    padding: 0.75rem;
    color: #B6B6B6;
    font-size: 14px;
    margin: 0.5rem 0;
    border: 0px solid #ccc;
    box-sizing: border-box;
}

/* Submit Button */
.auth-submit-button {
    width: 126px;
    height: 40px;
    padding: 0.75rem;
    background-color: white;
    margin-top: 2rem;
    color: #03989E;
    border: 0px solid #ccc;
    border-radius: 30px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.auth-submit-button:hover {
    background-color: #03989E;
    color: white;
}

.login-redirect {
    margin-top: 1rem;
    font-size: 13px;
    color: #555;
}

.login-link {
    color: #ffff;
    cursor: pointer;
    font-size: 15px;
    font-weight: normal;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.login-link:hover {
    color: #03989E;
}