.profile-details {
  margin: 20px;
}

.details-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.intro-list {
  background-color: white;
  list-style-type: none;
  padding: 0;
}

.intro-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.intro-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.intro-item input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Move the button to the extreme right */
  margin-top: 20px; /* Add some spacing from the input fields */
}

.save-button {
  background-color: #03989E;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #ffff;
  color: #03989E;
}